<body link="#ffffcc" vlink="#ffffcc" alink="#ffffcc">
	<div id="cabecera">
		<p id="cabTitulo">{titulo}</p>
		<div id="logo"></div>
		
		<div id="menu">
			<ul>
			<ul class="claseLista">
				<li><a href="contacto.html">{Contacto}</a></li>
				<li><a href="index.php">{Home}</a></li>
				<li><a href="contacto.html">{Salir}</a></li>
				<li><a href="contacto.html">{Otra}</a></li>
				<li><a href="contacto.html">{Comprar}</a></li>
			</ul>
		</div>
	</div>

	<div id="latiz">
		<ul class="listaIz">
			<li>{Item I}</li>
			<li>{Item II}</li>
			<li>{Item III}</li>
			<li>{Item IV}</li>
		</ul>
	</div>
</body>