<body link="#ffffcc" vlink="#ffffcc" alink="#ffffcc">
	<div id="central">
		<table id="tablaCen">
		<tr > 
			<td id="imgTabla11"></td> <td id="imgTabla12"></td> <td id="imgTabla13"></td> <td id="imgTabla14"></td>
		</tr>
		<tr> 
			<td id="texTabla"><li><a href="ImmortalHeavy.php">{SImHea}</a></li></td> <td id="texTabla"><li><a href="TwilightHeavy.php">{STwHea}</a></li></td> <td id="texTabla"><li><a href="SeraphHeavy.php">{SSerHea}</a></li> </td > <td id="texTabla"><li><a href="EternalHeavy.php">{SEteHea}</a></li></td>
		</tr>

		<tr> 
			<td id="imgTabla21"></td> <td id="imgTabla22"></td> <td id="imgTabla23"></td> <td id="imgTabla24"></td>
		</tr>
		<tr> 
			<td id="texTabla"><li><a href="ImmortalLeather.php">{SImLea}</a></li> </td> <td id="texTabla"><li><a href="TwilightLeather.php">{STwLea}</a></li></td> <td id="texTabla"><li><a href="SeraphLeather.php">{SSeLea}</a></li></td> <td id="texTabla"><li><a href="EternalLeather.php">{SEtLea}</a></li></td>
		</tr>
		<tr> 
			<td id="imgTabla31"></td> <td id="imgTabla32"></td> <td id="imgTabla33"></td> <td id="imgTabla34"></td>
		</tr>
		<tr> 
			<td id="texTabla"><li><a href="ImmortalRobe.php">{SImRob}</a></li></td> <td id="texTabla"><li><a href="TwilightRobe.php">{STwRob}</a></li></td> <td id="texTabla"><li><a href="SeraphRobe.php">{SSerRob}</a></li></td> <td id="texTabla"><li><a href="EternalRobe.php">{SEtRob}</a></li></td>
		</tr>
			
		</table>
	</div>
	<div id="latde"></div>
	<div id="pie">
		<div>
			<ul id="piePag">
			<p>{Fo}</p>
			<p>{WebMa}r</p>

			</ul>
		</div>
	</div>
</body>
</html>